{% extends "base.html" %} {% load static %} {% block title %}About{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'store/about.css' %}" />
{% endblock %} {% block content %}
<section id="about-hero">
  <header>
    <img src="{% static "store/images/..." %}" alt="" />
    <h2>Plush Pals About hello</h2>
  </header>
  <p>TESTTINGGGGGGGGG</p>
</section>

<section id="x">
  <h2>hi</h2>
</section>

<section id="about-team">
  <h2>Meet the Makers</h2>
  <p>
    From designers to packers, our small team is dedicated to spreading cheer
    one plush at a time. We’re artists, storytellers, and soft-stuffing experts
    — and we’re so happy you’re here.
  </p>
</section>
{% endblock %}
