{% extends "base.html" %}
{% load static %}

{% block title %}Plush Pals Contact{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'store/contact.css' %}">
{% endblock %}

{% block content %}
<section id="contact-section">
  <h2>Get in Touch</h2>
  <p>You can reach us anytime through email or our social media below!</p>

  <div class="contact-info">
    <p><strong>Email:</strong> <a href="mailto:admin@plushpals.com">admin@plushpals.com</a></p>
    <div class="socials">
      <a href="https://instagram.com/plushpals" target="_blank">Instagram</a>
      <a href="https://twitter.com/plushpals" target="_blank">Twitter</a>
      <a href="https://facebook.com/plushpals" target="_blank">Facebook</a>
    </div>
  </div>
</section>
{% endblock %}
