{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'store/contact_success.css' %}">
{% endblock %}

{% block content %}
  <section id="contact-succes">
    <h2>Thank you for your feedback!</h2>
    <p>We appreciate you reaching out to us. We will review your message and get back to you soon.</p>
    <p>We will get back to you as soon as possible.</p>
    
    <div class="sucess-ations">
      <a href="{% url 'home-page' %}" class="button">Return to Home</a>
      <a href="{% url 'contact-page' %}" class="button secondary">Send Another Message</a>
    </div>
  </section>
{% endblock %}
