{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }} - Plush Pals{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'store/product_detail.css' %}">
{% endblock %}

{% block content %}
<section id="product-detail">
  <img class = "side-part" src="{%static 'store/Images/sidebanner.png' %}"/>
  <div class="product-wrapper">

    <img class = "product-design" src="{{ product.image.url }}" alt="{{ product.name }}">

    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p class="price">${{ product.price }}</p>
      <p>{{ product.description }}</p>
      <!-- average rating -->
    <h4 >Average Rating</h4>
    <p class="sc">{{avg_rating|floatformat:1}} / 5.0</p>
    <div class="stars">
      {% for i in range_list %}
        {% if i <= avg_rating %}
          <span class="star filled">&#9733;</span>  <!-- Filled star -->
        {% else %}
          <span class="star">&#9734;</span>  <!-- Empty star -->
       {% endif %}
      {% endfor %}
    </div>
   </div>
  </div>
  <img class = "side-part" src="{%static 'store/Images/sidebanner.png' %}"/>
</section>



<!-- Reviews Section -->
<div id="reviews">
  <h3>Customer Reviews</h3>

  {% if product.feedback_set.all %}
    <ul>
      {% for review in product.feedback_set.all %}
        <li class = "review-card">
          <strong>{{ review.user_name }}</strong>
          <p>Rating:
          {% for i in range_list %}
            {% if i <= review.rating %}
              <span class="star filled">&#9733;</span>  <!-- Filled star -->
            {% else %}
              <span class="star">&#9734;</span>  <!-- Empty star -->
            {% endif %}
          {% endfor %}
        </p> 
          <p>{{ review.message }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No reviews yet. Be the first to review!</p>
  {% endif %}

  <!-- Review Form -->
  <h4>Submit Your Review</h4>
  <form method="post">
    {% csrf_token %}
    <h1>Review {{ product.name }}</h1>
    <div>
      <label for="user_name">Your Name:</label>
      <input type="text" id="user_name" name="user_name" required>
    </div>
    <div>
      <label for="rating">Rating (1-5):</label>
      <input type="number" id="rating" name="rating" min="1" max="5" onchange="star()" required>
      <p id = "inStar"></p>
      <script>
        function star() {
          const x = document.getElementById("rating");
          const value = parseInt(x.value);
          let st = "";
          for (let i = 1; i <= 5; i++) {
            st += i <= value ? "<span>&#9733;</span>" : "<span>&#9734;</span>";
          }
          document.getElementById("inStar").innerHTML = st;
        }
      </script>

    </div>
    <div>
      <label for="comment">Your Review:</label>
      <textarea id="comment" name="comment" required></textarea>
    </div>
    <button type="submit">Submit Review</button>
  </form>
</div>
</section>

{% endblock %}
