{% extends "base.html" %} {% load static %} {% block title %}Shop{% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'store/shop.css' %}">
{% endblock %}
{% block content %}
<section id="shop">
  <h2>All Plushies</h2>
  <div class="product-grid">
    {% for product in products %}
    <a href="{{ product.get_absolute_url }}" class="product-card">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" />
      <h3>{{ product.name }}</h3>
      <p>${{ product.price }}</p>
      <p>{{ product.summary }}</p>
    </a>
    {% empty %}
    <p>No products available right now!</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
